a:link {

  text-decoration: none;
  margin: 15px;
}
.App {
  display: flex;
  background-color: #bb9fce;
  text-align: center;
  min-height: 100vh;
  flex-direction: column;
}
.Enviar {
  background-color: white;
  margin: 100px;
}
.nome {
  margin: 10px;
}
.titulo {
  color:antiquewhite;
  font-size: 25px;
  
}





