.App {
  display: flex;
  background-color: #bb9fce;
  text-align: center;
  min-height: 100vh;
  flex-direction: column;
}
.button {
  background-color: white;
}
.nome {
  margin: 5px;
}
.titulo {
  color:antiquewhite;
  font-size: 25px;
}




