.App {
  display: flex;
  background-color: #820AD1;
  text-align: center;
  min-height: 100vh;
  flex-direction: column;
}

/* .App-header { 
  background-color: #0e2f70;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: right;
  font-size: 25px;
  color: white;
}
.titulo{
  color: greenyellow;
  display: flex;
}
.button{
  flex-end: center;
  
}*/


